@import '../../vars';

.add-time {
  box-shadow: 1px -1px 0 1px $beige2, -2px 2px 1px 1px $blue-shadow;
  flex-flow: column;
  margin: 20px;
  width: 20vw;
}

.time-picker {
  align-items: center;
  display: flex;
  padding: 10px;
}

.timer-block {
  display: flex;
  flex: 1 1 45%;
  flex-flow: column;

  input {
    font-size: 3rem;
    padding: 0;
    text-align: center;
    // unsure where its coming from, but the input is running over its container by about 5px
    width: calc(100% - 5px);
  }
}

.time-picker__divider {
  flex: 1 1 10%;
  font-size: 3rem;
  text-align: center;
}
