@import './vars.scss';

body {
  background: $beige1;
  color: $blue2;
  font-family: $sans;
  margin: 0;
  padding: 0;
}

.title {
  border-bottom: 1px solid $rib;
  font-family: $serif;
  font-size: 1.15rem;
  font-style: italic;
  padding: 5px 10px;
  text-transform: uppercase;
}

.layer-one {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;
}

.layer-two {
  min-height: 100vh;
  position: absolute;
  top: 0;
  width: calc(100vw - 15px);
}

.level {
  background: $grey1;
  display: inline-flex;
}
