@import './vars.scss';

body {
  background: $beige1;
  color: $grey;
  font-family: $sans;
  margin: 0;
  padding: 0;
}

.title {
  font-family: $serif;
}

.layer-one {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;
}

.layer-two {
  min-height: 100vh;
  position: absolute;
  top: 0;
  width: calc(100vw - 15px);
}

.level {
  background: $blue1;
  display: inline-block;
}
