$beige1: #ded8be;
$beige2: #babdac;
$blue1: #5a7f7d;
$blue2: #405453;
$white: #fefefe;
$grey1: #f2fffe;
$yellow: #ffcd24;
$rib: transparentize($beige2, .8);
$blue-shadow: transparentize($blue1, .3);

$sans: 'Karla', sans-serif;
$serif: 'Arvo', serif;
