@import '../../vars';

nav {
  box-shadow: 1px -1px 0 1px $beige2, -1px 1px 2px 1px $blue-shadow;
  font-family: $serif;
  font-style: italic;
  letter-spacing: .1em;
  margin-left: auto;
  position: absolute;
  right: 0;

  span {
    cursor: pointer;
    padding: 5px 25px;
    &:hover { background: $yellow; }
  }
}
